body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: salmon;
    color: rgb(41, 105, 183);
    text-align: center;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(255, 205, 97);
    color: white;
    padding: 1.5em 0;
}

section{
    margin: 2em auto;
    width: 80%;
}
footer{
    background-color: rgb(255, 111, 205);
    color:white;
     padding: 1em 0;
}

h1{
    transition: transform 0.3s;
}
h1:hover{
    transform:scale(1.1);
    color: peru;
}